a {
    font-size: 1.5rem;
    color: yellow;
    padding: 10px;
    text-decoration: none;
}
body {
    color: white;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    text-align: center;
    font-size: 3rem;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
nav.main-page {
    text-align: center;
    border-left: 5px solid white;
}
nav.default-page {
    text-align: right;
    padding-top: 15px;
    padding-right: 15px;
}
.pages {
    text-align: center;
}
a:hover {
    color:teal;
}